@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

a {
    padding: 15px;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.dark, footer {
    background-color: #1f2937;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    text-align: center;
}

.figures {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.figures img {
    border-radius: 4px;
    max-width: 200px;
    display: flex;
    margin: 0;
}

figcaption {
    width: 150px;
    text-align: center;
}

button, .call {
    background-color: #3882f6
}

button {
    color: #e5e7eb;
    border-radius: 4px;
    border: 1px solid #e5e7eb;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.call {
    width: 50%;
    margin: 100px auto;
    border-radius: 4px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.call_text {
    padding: 40px 30px
}

img {
    height: auto;
    width: 500px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a, p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

h4 {
    margin: 0;
    color: #e5e7eb;
    font-size: 24px;
}

footer {
    color: #f9faf8;
    padding: 40px;
    text-align: center;
}