h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.dark, footer {
    background-color: #1f2937;
}

button, .call {
    background-color: #3882f6
}

button {
    color: #e5e7eb;
    border: 1px solid #e5e7eb;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

img {
    height: auto;
    width: 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a, p {
    font-size: 18px;
    color: #e5e7eb;
}